@import './mixin.scss';
//公共样式
.container{
    position: relative;
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
}

a img{
    width: 100%;
    height: 100%;
}

input{
    outline: none;
    box-sizing: border-box;//使得宽度包含了内外填充
    font-size: 14px;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix:before, .clearfix:after{
    content: ' ';// 伪类要给一个占位
    display: table;//?
}
// 清除浮动
.clearfix:after{
    clear:both;
}
// 公共logo
.header-logo{//可视化区域
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #FF6600;
    a{
        display: inline-block;
        width: 110px;
        height: 55px;
        
        &:before{
            //content必须要有，是用来占位的，否则伪类就不起作用了
            content: ' ';
            /*
            display: inline-block;
            width: 55px;
            height: 55px;
            background:url('/imgs/mi-logo.png') no-repeat center;
            background-size: 55px;
            */
            @include bgImg(55px,55px,'/imgs/mi-logo.png',55px);
            transition: margin .2s;
        }
        &:after{
            content: ' ';
            /*
            display: inline-block;
            width: 55px;
            height: 55px;
            background:url('/imgs/mi-home.png') no-repeat center;
            background-size: 55px;
            */
            @include bgImg(55px,55px,'/imgs/mi-home.png',55px);
        }
        &:hover::before{
            margin-left: -55px;
            transition: margin .2s;
        }
    }
}