.modal{
    @include position(fixed); //加绝对定位，因为滑动的时候要保证框不动
    z-index: 10;
    // 指定动画过渡，否则动画无效果
    transition: all .5s;
    .mask{
        @include position(fixed);
        background-color: $colorI;
        opacity: 0.5;
    }
    // 定义动画 - 入场 (一定注意顺序，否则入场动效将失效)
    &.slide-enter-active{
        top:0;
    }
    &.slide-enter{
        top:-100%;
    }
    // 定义动画 - 出场
    // 由于top的默认值就是0，所以这里不需要设置slide-leave
    &.slide-leave-active{
        top:-100%;
    }

    .modal-dialog{
        @include position(absolute,40%,50%,660px,auto);
        background-color: $colorG;
        transform: translate(-50%,-50%);
        .modal-header{
            height: 60px;
            background-color: $colorJ;
            padding: 0 25px; //上下先设为0 然后利用line-height使其居中
            line-height: 60px;
            font-size: $fontI;
            .icon-close{
                // @include bgImg()❌// 由于原来的bgImg display是inline-block 而这里的要做定位，所以就不通用了
                @include positionImg(absolute,23px,25px,14px,14px,'/imgs/icon-close.png');
                // 移上去变大的动效
                transition: transform .3s;
                // 指定transform属性过渡0.3s
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
        .modal-body{
            padding: 42px 40px 54px;
            font-size: $fontJ;
        }
        .modal-footer{
            height: 82px;
            line-height: 82px;
            text-align: center;
            background-color: $colorJ;
        }

    }
}